
.logo {
    height: 65px;
    filter: invert(100%);
  }
    body {
            font-family: Arial, sans-serif;
            background-image: url('resource/img/bg.jpg'); 
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-blur: 5px; 
            background-opacity: 0.8; 
            color: #ffffff;
        }

        .navbar {
            background-color: rgba(5, 4, 4, 0.5);  
        }

        .navbar-dark .navbar-nav .nav-link {
            color: #ffffff;
        }

        .navbar-dark .navbar-toggler-icon {
            background-color: #ffffff;
        }

        .section {
            min-height: 500px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 24px;
        }

        #home {
            background-color: rgba(5, 4, 4, 0.5);  
            
        }

        #gallery {
            background-color: rgba(5, 4, 4, 0.5);   
            
        }

        #about {
            background-color: rgba(5, 4, 4, 0.5);  
            
        }
  
